#screen-wrapper { background: #ffffff; border: 2px solid #ec027d; width: 976px; position: relative; height: 421px; overflow: hidden; }

#screen-wrapper .emitters { position: absolute; left: 0px; bottom: 0px; }

#screen-wrapper .emitters .emitter { position: absolute; left: 0px; bottom: 0px; width: 25px; height: 25px; }
#screen-wrapper .emitters .emitter .parts { display: none; }

#screen-wrapper .emitter img { width: 25px; height: 25px; display: block;}