#log-wrapper { width: 976px; margin-top: 0px; border: 2px solid #f8a3d0; }

#log { padding: 18px 17px; height: 200px; overflow-y: scroll; background: #fcd9ec; }

#log .item { height: 41px; }
#log .item .img { float: left; width: 25px; height: 25px; margin-right: 11px; margin-top: 1px; }
#log .item .parts { float: left; font: normal 13px Arial; padding-top: 6px; }
#log .item .parts p { background: #fcd9ec; color: #ec027d; float: left; }
#log .item .parts:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#log .item .parts {display: inline-block;}
/* Hides from IE-mac \*/
* html #log .item .parts {height: 1%;}
#log .item .parts {display: block;}
/* End hide from IE-mac */

#log .item img { height: 25px; width: 25px; }
#log .item:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#log .item {display: inline-block;}
/* Hides from IE-mac \*/
* html #log .item {height: 1%;}
#log .item {display: block;}
/* End hide from IE-mac */